---
pagination: 
  data: authors
  size: 1
  alias: author
permalink: /author/{{ author | url_encode }}/
---

<h1>{{- authors[author].fname }} {{ authors[author].lname -}}</h1>

<h2>Posts by {{ authors[author].fname -}}</h2>

{% assign posts = collections.post | getPostsByAuthor: author %}

{% include post-list.liquid %}
